@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

/** PC Builder Gradient Button Start*/
.gradient-button {
  background: linear-gradient(
    45deg,
    #f15700,
    #ff7a1a,
    #e9b50b,
    #ff7a1a,
    #f15700
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.gradient-menu {
  background: linear-gradient(
    45deg,
    #f15700,
    #ff7a1a,
    #ffad00,
    #ff7a1a,
    #f15700
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
/** PC Builder Gradient Button End*/

/** Banner side Scroll Remove style */
.side-nav-scroll {
  overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.side-nav-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.side-nav-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/** Material UI Custom Styles */

.MuiTabs-indicator {
  display: none;
}

.css-heg063-MuiTabs-flexContainer,
.css-k008qs {
  display: grid !important;
  grid-template-columns: repeat(6, 1fr) !important;
  justify-content: left !important;
}

/** Rotating button */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** Login Register Styles */

.pageBg {
  background-image: url(../assets/login-register-bg.png);
}

@media screen and (max-width: 992px) {
  .pageBg {
    background: none;
    background-color: white;
  }
}
