@tailwind base;
@tailwind components;
@tailwind utilities;

/** PC Builder Gradient Button Start*/
.gradient-button {
  background: linear-gradient(
    45deg,
    #f15700,
    #ff7a1a,
    #e9b50b,
    #ff7a1a,
    #f15700
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border: none;
  line-height: 42px;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
/** PC Builder Gradient Button End*/
